.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}
.chat_Header {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.chat_Header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chat__HeaderInfo {
  flex: 1;
  padding-left: 20px;
}
.chat__HeaderInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}
.chat__HeaderInfo > p {
  color: gray;
}
.chat__HeaderRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
.chat_Body {
  flex: 1;
  background-color: #f1ece7;
  background-image: url("./assets/images/chatBox.png");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  padding: 30px;
  overflow: scroll;
}
.chat_message {
  width: fit-content;
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
}
.chat_name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}
.chat_time {
  margin-left: 10px;
  font-size: xx-small;
}
.chat_Reciever {
  margin-left: auto;
  background-color: #dcf8c6;
}
.chat_Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}
.chat_Footer > form {
  flex: 1;
  display: flex;

  align-items: center;
}
.chat_Footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}
.sendButton button {
  border: none;
  background: transparent;
}
.chat_Footer > form > .sendButton {
  display: none;
}
.chat_Footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}
